fieldset { 
  margin: 0 auto; /* center the fieldset horizontally */ 
  padding: 1em; /* add some padding around the fieldset */ 
} 
 
legend { 
  padding: 0.5em; /* add some padding around the legend */ 
} 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label{
  font-weight: bold;
}